<%- include("header") -%>

            <h1 id="mainhead">TaskTiger</h1>
             <h1><%= dayTod %></h1>
        </div>
       
        <div class="box">
            <% for (let i=0;i<tasks.length;i++){%>
                <div class="item">
                    <input type="checkbox">
                    <p style="text-decoration: <%=tasks[i].status ? 'line-through' : 'none'%>;"><%= tasks[i].desc %></p>
                </div>
            <%}%>
        
       
            <form class="item" method="post" action="/">
                <input id="taskInput" type="text" name="newTask" placeholder="Enter new task" autocomplete="off" required>
                <button  type="submit" name="formButton" value="<%= dayTod %>"><span class="material-symbols-outlined">add_task</span></button>
            </form> 
            
<%- include("footer") -%>